@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none !important;
    scroll-behavior: smooth;
}
body{
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    position: relative !important;
    font-family: 'Roboto Condensed', sans-serif;
    /* font-family: 'PT Sans Narrow', sans-serif; */
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    background-color: #f3f3f3;
}
.whatsapp a{
    
    background-color: #25d366;
    color: white;
    padding:5px 20px;
    border-radius: 50px;
    position: fixed;
    right: 2%;
    bottom: 8%;
    z-index: 999;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 5px 0px gray;
    
}
.whatsapp a span:hover{
    color: #f60;
}
.navbar-toggler{
    color: white !important;
}
#nav{
    padding: 10px 30px;
}
#logo .logo_name{
    font-size: 1.5rem;
    margin-left: 5px;
    color: white;
    font-weight: bold;
}
.LogoImage{
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}
#nav , #logo{
    transition: 0.4s;
}
.navbar{
    opacity: 0.95;
    background-color: #095cac;
    border-bottom: 2px solid white;
    
}
.nav-link {
    margin: 0px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

.nav-link:hover{
    color: #ff944b;
}

.resume{
    color: #095cac;
    font-size: 1.2rem;
    font-weight: bold;

}
.resume:hover{
    background-color: #ff944b;  
    transition: 0.5s;
    color: white;
}

.dropdown-menu li a{
    display: flex;
    align-items: center;
}
.dropdown-menu li a:hover{
    color: #f60;
}
.dropdown-menu li a span{
    font-weight: 300;
    font-family: auto;
}
.dropdown-menu li img , .dropdown-menu li i{
    margin-right:5px ;
}

/* main content css */
.main-div{
    /* background-image: url("https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg"); */
    background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)),url("https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg");
    position: relative;
}
.social_links{
    position: absolute;
    left: 0px;
    top: 170px;
    width: 45px;
    text-align: center;
    padding: 10px 0px;
    background-color: #f1efeb;
}

.slink i{
    font-size: 1.5rem !important;
    color: black !important;
}
.slink i:hover{
    color: #f60 !important;
}

.fs-heading{
    width: 40%;
}
.fs-heading h1{
   font-size: 4rem;
   font-family: 'PT Sans Narrow', sans-serif; 
}
.fs-heading h1 a{
    color: #f60;
    background-color: rgb(255, 243, 236);
    padding: 2px 0px;
    font-size: 2rem;
}
.start-learning{
    background-color: #f60;
    border: none !important;
    padding: 10px 0px;
    width: 80%;
}

.placed-students{
    width: 40%;
}

/* second section about me div css  */
.second-div{
    /* background: linear-gradient(147.76deg,hsla(0,100%,99%,.31) 2%,#095cac 650%);
     */
     background-color: #3f6cc7;
}
.about-heading{
    width: 40%;
}
.about-heading h2{
    color:#f60 ;
}
.about-heading h5{
    margin: 10px 0px ;
}
.about-count{
    width: 40%;
}
.count h1{
    padding: 10px;
    margin: 0px 5px;
    font-weight: bolder;
    border-radius: 5px;
    background-color: black !important;
    color: white !important;
}

.join{
    color: #f60;
}

.join-logo a img{
    background-color: white !important;
    border-radius: 50%;
}


/* third section start  */

.third-div{
    /* background: linear-gradient(147.76deg,hsla(0,100%,99%,.31) 2%,rgb(255, 142, 240) 650%); */
    /* background-color: white; */
}

.exp-logo{
    width: 30%;
}
.comapny-logo img{
   /* border: 1px solid #ff944b; */
/* box-shadow: 0px 0px 100px 0px #d7e2f8; */
}

.exp-heading{
    width: 50%;
}
.exp-heading h2{
    color: #f60;
}


/* 4 section projects  */

.github{
    color: white;
    background-color: black;
    font-size: 1.3rem;
    font-weight: bold;

}
.github:hover{
    background-color: #ff944b;
    transition: 0.5s;
}


.deploy{
    color: white;
    background-color: #3f6cc7;
    font-size: 1.3rem;
    font-weight: bold;

}
.deploy:hover{
    background-color: #ff944b;
    transition: 0.5s;
}

.project-logo{
    width: 40%;
}
.project-heading{
    width: 50%;
}
.project-heading h2{
    color: #f60;
}


/* //section 5 framework and lang  */
.fifth-div{

    background-color: #3f6cc7;
}

.lang-logo{
    width: 15%;
}

.lang-logo:hover{
    scale: 1.05;
    transition: all 0.5s;
    .lang-name{
        color: #f60;
    };
}
.lang-name{
    color: #095cac;
}
.lang-name:hover{
    color: #f60;
}

/* contact us section  */

.contact-div{

    background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)),url("https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg");
        position: relative;
}


.social-logo a img{
    /* background-color: white !important; */
    border-radius: 50%;
}

.contact-illustrate{
    width: 40%;
}

.contact-count{
    width: 40%;
}
.contact-count h5{
    color: #095cac;
    font-weight: bold;
}
.contact-count h5 img{
    border: 1px solid #ff6f00b0;
    border-radius: 5px;
}




@media screen and (max-width: 768px){
    
    .nav-link{
        padding: 10px 0px;
        margin: 0px;
        font-size: 1.2rem;
    }
    #nav{
        padding: 10px 20px !important;
    }
    .btns a{
        display: block;
        margin: 10px 0px ;
    }

    .social_links{
       display: none !important;
    
    }

    .fs-heading{
        order: 2;
        width: 80%;
    }
    .fs-heading h1{
        font-size: 3rem;
        text-align: center !important;
     }
     .fs-heading h1 a{
         font-size: 1.6rem;
         text-align: center !important;
     }
     .sub-heading{
        text-align: center !important;
     }
    .placed-students{
        width: 80%;
        order: 1;
    }
    .start-btn{
        text-align: center !important;
    }

    /* section 2 about me  */
    .about-heading{
        width: 80%;
        text-align: center;
    }
    .about-me h1{
        font-size: 2rem !important;
    }
    .about-count{
        width: 80%;
    }
    .rating-box{
        width: 90%;
    }


    /* third section  */

    .exp-logo{
        width: 80%;
    }
    .exp-heading{
        width: 80%;
    }
    .whatsapp a{
    
        background-color: #25d366;
        color: white;
        padding:5px 10px;
        border-radius: 50%;
        position: fixed;
        right: 5%;
        bottom: 5%;
        z-index: 999;
        display: flex;
        align-items: center;
        box-shadow: 1px 1px 5px 0px gray;
        
    }



     /* secyion 4 projects  */

    .my_projects h1{
        font-size: 2rem !important;   
    }

    .github{
        
        font-size: 1rem;
    
    }
    .deploy{
        
        font-size: 1rem;
    
    }
    .project-logo{
        width: 80%;
    }
    .project-heading{
        width: 80%;
    }

 /* 5 section lang and framework  */

 .lang-logo{
    width: 35%;
 }

 .contact-illustrate{
    width: 90%;
}

.contact-count{
    width: 90%;
}













}